[submodule "python/slides"]
	path = python/slides
	url = https://github.com/gdiboulder/gdi-intro-python.git
[submodule "htmlcss/slides"]
	path = htmlcss/slides
	url = https://github.com/gdiboulder/gdi-boulder-intro-html-css.git
[submodule "servers"]
	path = servers
	url = https://github.com/gdiboulder/gdi-boulder-servers-intro.git
[submodule "servers/slides"]
	path = servers/slides
	url = https://github.com/gdiboulder/gdi-boulder-servers-intro.git
[submodule "programming"]
	path = programming
	url = git@github.com:gdiboulder/gdi-boulder-intro-programming-concepts.git
